@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --menu-color: rgb(98, 67, 253);
  --buttom-buy: rgba(83, 15, 218, 0.77);
}


.name-artist {
  font-family: "Comic Relief", system-ui;
}

.buy-our-merch {
  font-family: "Caveat", cursive;
}

.name-of-produkt {
  font-family: "Comic Relief", system-ui;
}

.desckription {
  font-family: "Merriweather", serif;
}

.buttom {
  font-family: "Comfortaa", sans-serif;
}

.our-contacts {
  font-family: "Cascadia Code", sans-serif;
  margin: 0 auto;
  text-align: center;
}

.contakts-list {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 20px 100px 20px;
}

.contacts-link {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px;
}

.decoration-ticket {
  color: rgb(212, 29, 29);
  text-decoration: none;
  border: 1px solid black;
  background-color: rgba(118, 152, 153, 0.695);
  border-radius: 3px;
}

.decoration-ticket:hover {
  color: coral;
  background-color: rgba(0, 255, 255, 0.875);
}

.name-artist::marker {
  color: rgb(98, 67, 253);
}

.image-ticket {
  border-radius: 10px;
}

.menu {
  border: 1px solid red;
  display: flex;
  gap: 30px;
  list-style: none;
  text-transform: uppercase;
  width: 650px;
  margin: 0 auto;
  font-family: fantasy;
  font-size: 25px;
  border-radius: 10px;
}

.menu-link:hover {
  color: chocolate;
  cursor: pointer;
}

.menu-link {
  text-decoration: none;
  color: var(--menu-color);
}

.electronic-musik {
  width: 900px;
  margin: 0 auto;
  margin-top: 10px;
  /* border-radius: 10px 10px 0 0; */
}

.popular-dj {
  margin: 0 auto;
  width: 900px;
  text-align: center;
  /* border: 1px solid yellow; */
}

.popular-musician {
  margin: 0 auto;
  display: block;
  border-radius: 30px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.DJ-equipment {
  list-style: none;
}

.favourie-style-musik {
  margin: 0 auto;
  width: 300px;
}

.style-musik {
  list-style: none;
}

.style-musik {
  margin: 0 auto;
  width: 300px;
}

.login {
  margin: 0 auto;
  width: 300px;
}

.button {
  background-color: cyan;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  color: black;
  border: 2px solid black;
  box-shadow: 2px 2px 10px 2px darkslategray;
}

.button:hover {
  background-color: rgb(0, 102, 255);
  border-style: dashed;
  box-shadow: 3px 3px 15px 3px darkslategray;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.img {
  margin: 0 auto;
  display: block;
  width: 300px;
  border-radius: 20px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 30px;
}

.word {
  margin: 0 auto;
  text-align: center;
}

.list-item {
  width: 300px;
  border: 1px solid rgb(155, 155, 255);
  border-radius: 20px;
  background-color: rgb(52, 255, 255);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 50px;
}

.list-item:hover {
  background-color: rgb(152, 255, 255);
}

.list-item-2 {
  width: 300px;
  border: 1px solid rgb(255, 109, 109);
  border-radius: 20px;
  background-color: rgb(255, 130, 96);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 50px;
}

.list-item-2:hover {
  background-color: rgb(255, 148, 118);
}

.artists-list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.artist-title {
  text-align: center;
  font-family: "Jost", sans-serif;

}

.produkt-list {
  width: 900px;
  display: flex;
  gap: 20px;
  padding-left: 0;
  margin: 0 auto;
  list-style: none;
}

.produkt-item {
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 100, 10, 0.2);
}

.produkt-img {
  width: 100%;
  height: 142.4px;
}

.buttom {
  color: rgb(255, 213, 5);
  padding: 10px 15px;
  background-color: var(--buttom-buy)
}

.contacts-logo {
  width: 30px;
  margin-bottom: -10px;
}

.image-home {
  border-radius: 10px;
  /* box-shadow: 2px 2px 4px 4px gray; */
  opacity: 95%;
  box-shadow: 0 2.8px 2.2px red, 0 6.7px 5.3px blue, 0 12.5px 10px green,
    0 22.3px 17.9px purple, 0 41.8px 33.4px orange, 0 100px 80px teal, 0 50px 30px green;
  margin-bottom: 100px;
}

.div-video {
  width: 640px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 16px;
  overflow: hidden;
  /* box-sizing: border-box; */

}

.video {
  width: 100%;
  height: auto;
  /* border-radius: inherit; */
  display: block;
}

.video-youtube {
  width: 600px;
  height: 300px;
  border-radius: 15px;
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
}

.style-musiks {
  color: brown;
}

.style-musiks:hover {
  color: burlywood;
  font-family: "Caveat", cursive;
  cursor: cell;
}

.style-musiks:active {
  color: crimson;
  cursor: pointer;
}

.genre-musik {
  font-family: "Comic Relief", system-ui;
}

.genre-musik:hover {
  font-family: "Caveat", cursive;
}

.square {
  accent-color: red;
  opacity: 0.8;
}

.our-other-pages {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5px;
  text-decoration-line: overline;
  text-decoration-color: blueviolet;
  text-decoration-style: dashed;
}

.body-home {
  background-image: url(https://th.bing.com/th/id/R.2d4e85c7bcc6b0d669adff11fffc5b4d?rik=geYQSlF7C5iyzg&pid=ImgRaw&r=0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-logo {
  width: 100px;
}

.rotate-diagonal-1 {
  animation: rotate-diagonal-1 0.4s linear both;
}

@keyframes rotate-diagonal-1 {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }

  50% {
    transform: rotate3d(1, 1, 0, -180deg);
  }

  100% {
    transform: rotate3d(1, 1, 0, -360deg);
  }
}

.text-pop-up-top {
  animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    transform: translateY(-10px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

.tracking-in-contract {
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.text-focus-in {
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.slide-in-elliptic-top-fwd {
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }

  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.rotate-center {
  border-radius: 30px;
}

.rotate-center:hover {
  animation: rotate-center 0.6s ease-in-out both;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.shadow-drop-2-center:hover {
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  cursor: pointer;
}

@keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.text-shadow-drop-center:hover {
  animation: text-shadow-drop-center 0.6s both;
}

@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

.text-shadow-drop-br:hover {
  animation: text-shadow-drop-br 0.6s both;
}

@keyframes text-shadow-drop-br {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
  }
}

.adres-container {
  text-align: center;
}

table caption {
  text-align: left;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 350px;
  display: block;
  margin: 0 auto;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #2a2a2a;
}

.paragraf {
  text-indent: 10px;
}

.paragraf::selection {
  color: aquamarine;
  background-color: chocolate;
}

.title {
  letter-spacing: 3px;
}

.electronic-title {
  text-shadow: 2px 1px 5px black;
}

.image-shadow {
  box-shadow: 2px 2px 10px 2px gray;
}

.button-sign-in {
  padding: 5px;
  background-color: aliceblue;
  border-color: rgb(254, 172, 64);
}

.button-send {
  padding: 5px;
  background-color: rgb(254, 241, 225);
  border-color: rgb(253, 255, 127);
}


.pane {
  display: none;
  margin-top: 8px;
}

.pane.is-active {
  display: block;
}

.controls {
  display: flex;
  gap: 8px;
  margin: 0 auto;
  width: 300px;
  margin-top: 60px;
}

.tabs {
  text-align: center;
  margin-top: 500px;
}

.tickets-people {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px dimgray;
}

.marker-blue::marker {
  color: darkblue;
}

.marker-red::marker {
  color: darkred;
}

.text-area {
  padding: 10px;
  max-width: 400px;
  max-height: 400px;
  min-width: 80px;
  min-height: 40px;
  box-shadow: inset 0 0 10px 2px gray;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(https://yt3.googleusercontent.com/ytc/AIdro_kbkW1oy7eW7vdPrFSvgHaWLr0uW_W2IejMS9BGcB-pdbw=s160-c-k-c0x00ffffff-no-rj);
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 2px 2px 10px 2px darkslateblue;
}

.avatar:hover {
  box-shadow: 3px 3px 15px 3px;
}

.rate {
  text-align: center;
  margin-bottom: 0;
}

.stars {
  font-size: 60px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.stars input {
  display: none;
}

.stars label:hover,
.stars label:hover~label {
  color: gold;
}

.stars input:checked~label {
  color: gold;
}

.button-people {
  background-color: rgb(196, 255, 240);
  color: darkblue;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px darkmagenta;
}

.button-people:hover {
  background-color: rgb(115, 255, 220);
  color: rgb(174, 88, 88);
  box-shadow: 2px 2px 15px 2px;
}

.svg {
  width: 20px;
  height: 20px;
  fill: #6243fd;
  filter: drop-shadow(2px 2px 8px black);
}


.svg:hover {
  fill: #350cff;
  filter: drop-shadow(2px 2px 10px black);
}

.img-artist {
  display: block;
  max-width: 100%;
  height: auto;
}

.thumb {
  position: relative;
  margin: 10px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 300px;
}

.thumb>.label {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 8px 16px;
  border-top-left-radius: 4px;

  font-family: sans-serif;
  font-size: 24px;
  background-color: #2196f3;
  color: #fff;
}

.artist-list {
  display: flex;
  margin: 30px;
}

.chat-button {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: inline-block;
  width: 64px;
  height: 64px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  background-image: url("https://cdn-icons-png.flaticon.com/512/1653/1653630.png");
  background-size: contain;

  cursor: pointer;
}

.galery-container {
  position: relative;
  margin-bottom: -200px;
}

.box {
  position: absolute;
  top: 100px;
  left: 700px;
  height: 150px;
  width: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 64px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box:nth-child(1) {
  top: 20px;
  left: 252px;
  background-image: url(https://th.bing.com/th/id/OIP.Iiq8KSmo0v64vnoucoRt3AHaFA?o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
  transform: rotate(10deg);
}

.box:nth-child(2) {
  top: 145px;
  left: 264px;
  background-image: url(https://34mag.net/piarshak/content/editor_images/2018content/september/15sovetov_koncert/125.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.box:nth-child(3) {
  top: 140px;
  left: 396px;
  background-image: url(https://tse3.mm.bing.net/th/id/OIP.1pGP3gu7HjPiwuixbZvfvQHaE7?rs=1&pid=ImgDetMain&o=7&rm=3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.box:nth-child(4) {
  top: 14px;
  left: 389px;
  background-image: url(https://www.vikingentertainment.nl/uploads/product/groot/ppm-band-boeken-1656484906.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(-10deg);
}

.box:nth-child(5) {
  top: 17px;
  left: 534px;

  background-image: url(https://th.bing.com/th/id/OIP.reLvaoTVNchi0PBpV8em9QHaE7?&dpr=1,3o=7&rm=3&rs=1&pid=ImgDetMain&o=7&rm=3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.box:nth-child(6) {
  top: 7px;
  left: 677px;
  background-image: url(https://thecity.m24.ru/b/d/SYketSivfok0JfbObLLBFlFNHBpuaXnwmJxNbycGshjv55OD3HWFWh2pL8EsPwl5DpSHzm95vRzNbdeHauL5EWcJ5w9e=fbo1FP7PQ6y2vvPh7s7N9Q.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  transform: rotate(10deg);
}

.box:nth-child(7) {
  top: 130px;
  left: 544px;
  background-image: url(https://media.istockphoto.com/id/874747066/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%BC%D1%83%D0%B7%D1%8B%D0%BA%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D1%84%D0%B5%D1%81%D1%82%D0%B8%D0%B2%D0%B0%D0%BB%D1%8C-%D1%82%D0%BE%D0%BB%D0%BF%D0%B0.jpg?s=612x612&w=0&k=20&c=lAPMM9xHedHTai9uPoo40wcot7hPDAtOcUDnA1pDzso=);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
  transform: rotate(10deg);
}

.box:nth-child(8) {
  top: 141px;
  left: 690px;
  background-image: url(https://media.istockphoto.com/id/1913125761/ru/%D1%84%D0%BE%D1%82%D0%BE/%D1%81%D0%B8%D0%BB%D1%83%D1%8D%D1%82%D1%8B-%D1%82%D0%B0%D0%BD%D1%86%D1%83%D1%8E%D1%89%D0%B8%D1%85-%D0%B8-%D0%BF%D0%BE%D0%B4%D0%BD%D0%B8%D0%BC%D0%B0%D1%8E%D1%89%D0%B8%D1%85-%D1%80%D1%83%D0%BA%D0%B8-%D0%BB%D1%8E%D0%B4%D0%B5%D0%B9-%D0%BD%D0%B0-%D0%BB%D0%B5%D1%82%D0%BD%D0%B5%D0%BC-%D1%84%D0%B5%D1%81%D1%82%D0%B8%D0%B2%D0%B0%D0%BB%D0%B5-%D0%BF%D0%BE%D0%B4-%D0%BE%D1%82%D0%BA%D1%80%D1%8B%D1%82%D1%8B%D0%BC-%D0%BD%D0%B5%D0%B1%D0%BE%D0%BC.jpg?s=612x612&w=0&k=20&c=Gflf9WxTya8MU0aQ0Qt4IEt4_yUYpjOjzKbvjgz0QVs=);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.box:nth-child(9) {
  top: 30px;
  left: 821px;
  background-image: url(https://th.bing.com/th/id/OIP.reLvaoTVNchi0PBpV8em9QHaE7?&dpr=1,3o=7&rm=3&rs=1&pid=ImgDetMain&o=7&rm=3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
  transform: rotate(-10deg);
}

.box:nth-child(10) {
  top: 20px;
  left: 968px;
  background-image: url(https://thecity.m24.ru/b/d/SYketSivfok0JfbObLLBFlFNHBpuaXnwmJxNbycGshjv55OD3HWFWh2pL8EsPwl5DpSHzm95vRzNbdeHauL5EWcJ5w9e=fbo1FP7PQ6y2vvPh7s7N9Q.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.box:nth-child(11) {
  top: 145px;
  left: 837px;
  background-image: url(https://media.istockphoto.com/id/874747066/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%BC%D1%83%D0%B7%D1%8B%D0%BA%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D1%84%D0%B5%D1%81%D1%82%D0%B8%D0%B2%D0%B0%D0%BB%D1%8C-%D1%82%D0%BE%D0%BB%D0%BF%D0%B0.jpg?s=612x612&w=0&k=20&c=lAPMM9xHedHTai9uPoo40wcot7hPDAtOcUDnA1pDzso=);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.box:nth-child(12) {
  top: 139px;
  left: 979px;
  background-image: url(https://media.istockphoto.com/id/1913125761/ru/%D1%84%D0%BE%D1%82%D0%BE/%D1%81%D0%B8%D0%BB%D1%83%D1%8D%D1%82%D1%8B-%D1%82%D0%B0%D0%BD%D1%86%D1%83%D1%8E%D1%89%D0%B8%D1%85-%D0%B8-%D0%BF%D0%BE%D0%B4%D0%BD%D0%B8%D0%BC%D0%B0%D1%8E%D1%89%D0%B8%D1%85-%D1%80%D1%83%D0%BA%D0%B8-%D0%BB%D1%8E%D0%B4%D0%B5%D0%B9-%D0%BD%D0%B0-%D0%BB%D0%B5%D1%82%D0%BD%D0%B5%D0%BC-%D1%84%D0%B5%D1%81%D1%82%D0%B8%D0%B2%D0%B0%D0%BB%D0%B5-%D0%BF%D0%BE%D0%B4-%D0%BE%D1%82%D0%BA%D1%80%D1%8B%D1%82%D1%8B%D0%BC-%D0%BD%D0%B5%D0%B1%D0%BE%D0%BC.jpg?s=612x612&w=0&k=20&c=Gflf9WxTya8MU0aQ0Qt4IEt4_yUYpjOjzKbvjgz0QVs=);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  transform: rotate(10deg);
}

.box-hidden {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-image: url(https://th.bing.com/th/id/R.4f236f20606341a3daa5423eee2fb150?rik=pwb%2fq2BA%2ftoiNw&pid=ImgRaw&r=0);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 20px;
}

.box-hidden2{
  background-image: url(https://th.bing.com/th/id/OIP.6MuqHemyLWsLjW-743Je2AHaGG?o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3);
}

.box-hidden3{
  background-image: url(https://th.bing.com/th/id/OIP.Anj1JCe9odyn2p3MDe_jbAHaE8?o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3);
}


.overlay-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3f51b5;

  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}

.box-hidden:hover .overlay-hidden {
  transform: translatey(0);
  opacity: 0.9;
}

.overlay-hidden p {
  color: #fff;
  padding: 10px;
  margin: 0;
  font-size: 18px;
}

.ul-hidden{
  display: flex;
  gap: 10px;
  list-style: none;
}

.text-align{
  text-align: center;
}

.select-center{
  display: block;
  margin: -30px auto -15px auto;
}